.cal-container {
  border: 1px solid #000;
  width: 40vw;
  margin: 0 auto;
  margin-top: 30px;

  h2 {
    color: slategray;
    display: flex;
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .cal-container {
    width: 90vw;
  }
}
